In [3]:
import pandas as pd
import os,glob

In [4]:
# get list of files from folder
OUTPUT_FOLDER = 'Data/Chicago/'
crime_files = sorted(glob.glob(OUTPUT_FOLDER+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1310288,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,621,6.0,NaN,41.756650,-87.641608
1,1311626,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1033,10.0,NaN,41.848786,-87.704087
2,1310824,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,BAR OR TAVERN,False,False,323,3.0,NaN,41.765484,-87.621836
3,6154338,01/01/2001 01:00:00 PM,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,831,8.0,15.0,41.774819,-87.702896
4,3206463,01/01/2001 01:00:00 AM,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,True,835,8.0,18.0,41.735507,-87.690095
...,...,...,...,...,...,...,...,...,...,...,...,...
100405,13091787,05/30/2023 12:48:00 PM,THEFT,RETAIL THEFT,DRUG STORE,False,False,1733,17.0,33.0,41.953925,-87.707307
100406,13090302,05/30/2023 12:50:00 PM,CRIMINAL DAMAGE,TO VEHICLE,RESIDENCE,False,False,522,5.0,9.0,41.677237,-87.623871
100407,13089754,05/30/2023 12:52:00 AM,CRIMINAL DAMAGE,TO PROPERTY,CONVENIENCE STORE,False,False,2511,25.0,36.0,41.938194,-87.793558
100408,13090346,05/30/2023 12:55:00 PM,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,1913,19.0,46.0,41.963071,-87.655984
100409,13089814,05/30/2023 12:59:00 AM,BATTERY,AGGRAVATED - OTHER DANGEROUS WEAPON,APARTMENT,False,True,632,6.0,8.0,41.741474,-87.602535

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7812458 entries, 0 to 100409
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 670.5+ MB

In [5]:
years = df['Date'].map(lambda x: x.split()[0].split('/')[-1])
years.value_counts().sort_index()

2001    485882
2002    486804
2003    475981
2004    469421
2005    453771
2006    448175
2007    437084
2008    427167
2009    392823
2010    370499
2011    351968
2012    336265
2013    307471
2014    275738
2015    264764
2016    269799
2017    269082
2018    268790
2019    261269
2020    212132
2021    208633
2022    238530
2023    100410
Name: Date, dtype: int64

In [6]:
holiday_path = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTMR4vi1nFtbYO_WLqecU6WoRAQ0F-_QCMcuWUoZhuTygAP2U668cddCWBeAV2eop9fFdyXX856AB2j/pub?output=csv'
holiday = pd.read_csv(holiday_path)

In [11]:
holiday.dropna(inplace=True)
holiday

,Date,US Holidays,State Holidays
0,2001-01-01,New Year's Day,New Year's Day
14,2001-01-15,Martin Luther King Jr. Day,Martin Luther King Jr. Day
49,2001-02-19,Washington's Birthday,Washington's Birthday
147,2001-05-28,Memorial Day,Memorial Day
184,2001-07-04,Independence Day,Independence Day
...,...,...,...
7819,2022-05-30,Memorial Day,Memorial Day
7839,2022-06-19,Juneteenth National Independence Day,Juneteenth National Independence Day
7840,2022-06-20,Juneteenth National Independence Day (Observed),Juneteenth National Independence Day (Observed)
7854,2022-07-04,Independence Day,Independence Day
7917,2022-09-05,Labor Day,Labor Day